<div style="float: left; margin:0 0 20px; width:100%; min-height: 600px;">
    <div class="cp-register-cont">
        <h3>Forgot Password</h3>

        <div class="cp-register-row-big">
            <label>Email Address:</label>
            <input type="text"/>
        </div>
        <div class="cp-register-row-big">
            <input type="radio" ng-model="isEmail" value="1"/><span>Email me a link to reset my password</span></br>
            <input type="radio" ng-model="isEmail" value="0"/><span>Text me code to reset my password</span>
        </div>
        <div class="cp-register-row-big">
            <button class="btn cp-btn-submit">Continue</button>
        </div>
    </div>
</div>