<div class="modal-header">
    <div class="cp-modal-close" ng-click="cancel()">X</div>
    <h3 class="modal-title" style="text-align: center; font-weight: bold;">LOG IN</h3>
</div>
<div class="modal-body">
    <form name="loginForm" novalidate>
        <div class="cp-modal-body-cont">
            <input type="text" placeholder="Username" ng-model="account.username"><br/>
            <input type="password" placeholder="Password" ng-model="account.password">
        </div>
        <div class="cp-modal-body-btns">

            <button class="btn" ng-click="login()">Login</button>
            <button class="btn" ng-click="register()">Sign Up</button>
        </div>
        <div class="cp-modal-body-bottom">
            <input type="checkbox" style="margin: 0 6px 0 0; float: left;">Remember me</input>
            <a style="float: right;" ng-click="forgotPass()">Forgot Your Password?</a>
        </div>
    </form>
</div>
<div class="modal-footer" ng-show="alertVisible">
    <p>{{alertMessage}}</p>
</div>