/** Test Login Configuration **/

Test {
   main.java.com.jersey.businesslogic.login.TestLoginModule required
   dbDriver="com.mysql.jdbc.Driver"
   dbURL="jdbc:mysql://localhost/carpooldb"
   dbUser="root"
   dbPassword=""
   userQuery="select email from user_table_v1 user where user.email=? and user.password=?"
   debug=true;
};